.mid-col-margin{
    margin: 0;
}

.white-font{
    color: whitesmoke;
}

.fixed-footer{
    background-color: #000000;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 3em;
}