<div class="columns fixed-footer">
  <div class="column is-hidden-mobile"></div>
  <div class="column is-two-thirds is-hidden-mobile">
    <div class="columns mid-col-margin is-mobile">
      <div class="column has-text-left is-paddingless">
        <span class="white-font">Zena Flowers Incorporated</span>
      </div>
      <div class="column has-text-right is-paddingless white-font">
        Zena Flowers produced and designed by 
        <a href="https://github.com/bjmccotter7192">Beej</a>  
      </div>
    </div>
  </div>
  <div class="column is-hidden-mobile"></div>
</div>