.spacer{
    min-height: 4em;
}

.shop-page-message{
    font-size: 1.7em;
    padding: 0 1em 1em 1em;
    color: white;
}

a.form-contact-link{
    color: black;
    
    :hover{
        color: pink;
    }
}