.resizePhotos{
    padding-left: 2em;
    padding-right: 2em;
}

.round-corners{
    border-radius: 5px;
}

.sr-only{
    display: none;
}

.carousel-inner{
    border-radius: 5px;
}

.carousel-control{
    border-radius: 5px;
}

.carousel-control.left{
    background-image: none;
}

.carousel-control.right{
    background-image: none;
}