.shop-item-size{
    margin: auto;
}

.flower-image-size{
    height: auto;
    width: auto;
}

.flower-dimension{
    font-size: .8em;
    font-style: italic;
}

.flower-price{
    font-size: .9em;
}