<div class="columns">
  <div class="column">
    <div class="item-id has-text-centered">
      {{flower.Id}}
      <br><br>
    </div>
    <div class="shop-item-size">
      <img class="flower-image-size" src="{{flowerUrl}}"/>
    </div>
    <div>
      <strong>{{flower.Description}}</strong>
    </div>
    <div>
      <span class="flower-dimension">Dimensions: {{flower.Dimensions}}</span>
    </div>
    <div>
      <span class="flower-price"><strong>Price: </strong>${{flower.Price}}</span>
    </div>
  </div>
</div>