.add-footer-margin{
    margin-top: 4em;
}

.slide-show-edges{
    border-radius: 5px;
}

.main-page-opening{
    min-height: 16em;
    text-align: center;
}

.main-page-opening-text{
    font-size: 2em;
    font-family: 'Marcellus SC', serif;
    color: white;
}