<div class="columns is-mobile about-page-container" [@aboutState]="state">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <!-- <div class="columns">
            <div class="column">
                <div class="title-text has-text-centered">
                    <span>About the Business!</span>
                </div>
            </div>
        </div> -->
        
        <div class="columns about-info">
            <div class="column about-me-picture">
                <img class="fullhd" src="../../assets/images/zenaAboutImage.jpeg">
            </div>
            <div class="column has-text-left">
                <div class="title-text has-text-centered">
                    <span>About the Business!</span>
                </div>
                <span class="about-message-text">{{aboutText}}</span>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>