.about-info{
    background-size: 100% 100%;
    border-radius: 5px;
}

.about-message-text{
    font-size: 1.5em;
    text-align: center;
    color: white;
}

.about-me-picture{
    padding-top: 2em;
}