<div class="columns is-mobile about-page-container" [@aboutState]="state">
    <div class="column"></div>
    <div class="column is-two-thirds">
        <!-- <div class="columns">
            <div class="column">
                <div class="title-text has-text-centered">
                    <span>About the Business!</span>
                </div>
            </div>
        </div> -->
        
        <div class="columns about-info">
            <div class="column about-me-picture">
                <img class="fullhd" src="../../assets/images/zenaAboutImage.jpeg">
            </div>
            <div class="column has-text-left">
                <div class="title-text has-text-centered">
                    <span>About the Business!</span>
                </div>
                <span class="about-message-text">
                    My name is Zena Ledoux and I first started making floral arrangements for my family and friends back home in Guyana, South America.
                    I have formed my craft to meet all needs, and am excited to spread the joy here in Columbia, Missouri.
                    If you have any questions about any of my products or if you would like to request a unique arrange please see my contact page.
                    <br><br>
                    Thank you everybody and enjoy Zena Flowers!
                </span>
            </div>
        </div>
    </div>
    <div class="column"></div>
</div>