.navbar{
    background-color: transparent;
    font-family: Brush Script Std;
}

.zena-flowers-nav{
    background-color: #c0afc6;
    margin-bottom: 1em;
}

.zena-flowers-header{
    background-color: #c0afc6;
}

.navbar-item{
    color: whitesmoke;
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}


a.navbar-item:hover{
    background-color: #c0afc6;
    color: lightpink;
}
    

.rbp{
    padding-bottom: 0;
}

.rrp{
    padding-right: 0;
}

.rlp{
    padding-left: 0;
}

.rtp{
    padding-top: 0;
}

.zena-logo-container{
    width: 100%;
    background-color: #c0afc6;
}

.zena-logo{
    display: block;
    margin: auto auto auto auto;
    height: 12em;
}

.phone-number{
    font-size: 1em;
}

.email-address{
    font-size: 1em;
}

.right-icons{
    font-size: 1.5em;
}
