<div class="columns zena-flowers-header">
  <div class="column"></div>
  <div class="column is-two-thirds is-paddingless">
    <div class="columns">
      <div class="column">
        <div class="has-text-left">
          <span class="phone-number"><i class="mdi mdi-phone"></i>{{phoneNumber}}</span>
          <a href="https://www.facebook.com/zena.ledoux1"><i class="mdi mdi-facebook-box"></i></a>
          <br>
          <span class="email-address"><i class="mdi mdi-email"></i>{{emailAddress}}</span>
        </div>
      </div>
      <div class="column is-half">
        <div class="has-text-center zena-logo-container">
          <a routerLink="/home" routerLinkActive="active">
            <img class="zena-logo" src="../../assets/images/Zenaflowersheadercomplete.png"/>
          </a>
        </div>
      </div>
      <div class="column">
        <div class="has-text-right">
          <span class="right-icons">
            <!-- <i class="mdi mdi-twitter-box"></i>
            <i class="mdi mdi-github-box"></i>
            <i class="mdi mdi-instagram"></i> -->
          </span>
        </div>
      </div>
    </div>    
  </div>
  <div class="column"></div>
</div> 
<div class="columns zena-flowers-nav">
  <div class="column"></div>
  <div class="column is-two-thirds is-paddingless">
    <div class="columns">
      <div class="column is-hidden-mobile"></div>
      <div class="column">
        <div class="columns is-mobile">
          <div class="column">
            <a class="navbar-item" routerLink="/home" routerLinkActive="active">
              <span class="zena-nav-links">Home</span>
            </a>
          </div>
          <div class="column">
            <a class="navbar-item" routerLink="/about" routerLinkActive="active">
              <span class="zena-nav-links">About</span>
            </a>
          </div>
          <div class="column">
            <a class="navbar-item" routerLink="/shop" routerLinkActive="active">
              <span class="zena-nav-links">Shop</span>
            </a>
          </div>
          <div class="column">
            <a class="navbar-item" routerLink="/contact" routerLinkActive="active">
              <span class="zena-nav-links">Contact</span>
            </a>
          </div>
        </div>
      </div>
      <div class="column is-hidden-mobile"></div>
    </div>
  </div>
  <div class="column"></div>
</div> 
