.textarea{
    min-height: 10em;
}

.contact-message{
    font-size: 1.6em;
    padding: .5em;
    color: white;
}

.contact-title-text{
    font-size: 2em;
    font-family: 'Great Vibes', cursive;
}

.sent-message{
    min-height: 10em;
    font-family: 'Marcellus SC', serif;
    font-size: 3em;
    color: white;
    text-align: center;
}

.sent-message-text{
    margin-top: 2em;
}

.email-message{
    margin-top: 3em;
}